<h1 class="d-flex justify-content-center">Shows Index Page</h1>

<table class="table table-striped ">
    <thead>
        <th>Show_type</th>
        <th>Show Time</th>
        <th>Cinema</th>
        <th>Edit</th>
        <th>Delete</th>
    </thead>
    <tbody >
    <% @shows.each do |s|%>
    <tr>
        <td><%= s.show_type %></td>
        <td><%= s.show_time.strftime("%I : %M %p")%></td>
        <td><%= s.cinema.cinema_name %></td>
        <td><%= link_to 'edit', edit_show_path(s) , class:"btn btn-outline-warning"%></td>
        <td><%= button_to 'delete',show_path(s) , method: :delete , class:"btn btn-outline-danger"%></td>
    </tr>
    <% end %>
    </tbody>
</table>    