<div class="container-fluid ">
  <!-- FOR MOVIE HEADING AND DESCRIPTION -->
  <div class="container">
    <div class="row">
        <div class="col-md-8 offset-md-2">
        <div class="fix-height-div">
            <div class="top-section-container">
            <div class="movie-details-container">
                <div class="text-details">
                <meta itemprop="name" content="Ruslaan - Hindi">
                <h1>
                    <div class="cinema-name-wrapper">
                    <meta content="https://in.bookmyshow.com/buytickets/-ahmedabad/movie-ahd-ET00343222" itemprop="url">
                          <%= params[:name]  %> -
                          <%= params[:description]  %>
                    </div>
                </h1>
                </div>
            </div>
            </div>
        </div>
      </div>
    </div>
  </div>
  <!-- DATES -->

  <!-- CINMEAS AND SHOWS -->


  <div class="container text-center ">

    <% @cinemas.each do |c| %>
      <div class="row border border-1 border-black rounded">
        <div class="col-sm-3">
          <%= c.cinema_name %> - 
          <%= c.location %>
          <% if policy(c).update? %>  
            <div class="btn-group m-2">
              <%= link_to 'Edit', edit_cinema_path(c)  , class:"btn btn-outline-warning m-2"%>
              <%= button_to 'Delete', cinema_path(c) , method: :delete  , class:"btn btn-outline-danger m-2"%>  
            </div>
          <% end %>
        </div>
        <div class="col-sm-9 border ">
          <div class="row  row-cols-3 ">
            <% c.shows.each do |s|%> 
              <%#= link_to  path %>
                  <div class="col btn btn-outline-dark border border-3 border-success m-1 ">
                        <span><%= s.show_time.strftime("%I : %M %p") %></span>
                        <br>
                        <span><%= s.show_type %></span>
                  </div>  
                <%# end %>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>

  </div>
</div>
          